[Desktop Entry]
Type=Application
Name=Parrot Updater
Comment=Check for system updates automatically
Exec=/usr/bin/parrot-updater scheduled
Icon=/usr/share/icons/parrot-logo.png
Terminal=false
Categories=System;Utility;
StartupNotify=false