[Desktop Entry]
Version=1.1
Type=Application
Name=Check for update
Comment=Check for update from repository by checking InRelease
Exec=update-reminder --fast
Icon=system-upgrade
Categories=System;GTK;

